<nav class="navbar shadow-xl">
  <div class="max-w-full mx-auto px-4 md:px-8 md:pt-1 pb-1">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <a href="/lessons" class="flex items-center py-4 hover:text-gray-900">
            <i class="fas fa-language text-gray-100 text-3xl md:text-4xl"></i>
            <span class="logo-text text-gray-100 font-bold text-3xl md:text-5xl pl-4">Definiendum</span>
          </a>
        </div>
      </div>

      <!-- new lesson, login, sign up, profile -->
      <div class="hidden sm:flex items-center justify-between space-x-2">
        <% if user_signed_in? %>
          <%= link_to 'New Lesson', new_lesson_path, class: "nav-link text-lg py-5 px-3 hover:text-yellow-400" %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link text-lg py-5 px-3 hover:text-yellow-400", method: :delete, data: { confirm: "You really want to sign out?",  } %>
          <%#= link_to current_user.first_name, profile_path(current_user.profile), class: "text-lg py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "nav-link text-lg py-5 px-3 hover:text-yellow-400" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "text-lg py-2 px-3 hover:bg-yellow-400 bg-yellow-500 text-black hover:text-black rounded transition duration-300 border-2" %>
        <% end %>
      </div>

      <!-- hamburger button for mobile -->
      <div class="sm:hidden flex items-center">
        <button class="mobile-menu-button">
          <i class="fas fa-bars text-2xl text-yellow-300 hover:text-yellow-400"></i>
        </button>
      </div>

    </div>
  </div>

  <!-- categories bar MOBILE -->
  <div class="mobile-menu hidden sm:hidden pb-3">
    <div class="flex items-center justify-center space-x-2">
      <% if user_signed_in? %>
        <%= link_to 'New Lesson', new_lesson_path, class: "nav-link text-md hover:text-yellow-300 py-5 px-3" %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link text-md hover:text-yellow-300 py-5 px-3", method: :delete, data: { confirm: "You really want to sign out?",  } %>
        <%#= link_to current_user.first_name, profile_path(current_user.profile), class: "text-lg py-1 px-2 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300" %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "nav-link text-md hover:text-yellow-300 py-5 px-3" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "text-md py-1 px-2 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300" %>
      <% end %>
    </div>
    <%= link_to 'All', lessons_path, class: "nav-link block py-2 px-4 text-sm text-center tracking-wider hover:text-yellow-900 hover:bg-yellow-200 hover:font-bold" %>
  </div>
</nav>
